.p-Services.Div308 {
display: block;
width: ;
outline-width: px;
outline-offset: px;
outline-color: ;
background-position-y: ;
position: absolute;
background-origin: content-box;
left: 40px;
right: 40px;
float: none;
background-color: ;
height: 80px;
align-self: flex-end;
}
.p-Services.Flex83 {
display: flex;
width: ;
height: 40px;
flex-direction: row;
align-items: center;
justify-content: flex-start;
align-content: center;
box-sizing: border-box;
position: relative;
float: right;
margin-top: 20px;
margin-bottom: 20px;
column-gap: 50px;
row-gap: ;
margin-left: ;
}
.p-Services.Flex84 {
display: flex;
justify-content: center;
align-items: center;
align-content: center;
width: 50px;
height: 40px;
top: 20px;
bottom: 20px;
float: left;
position: absolute;
left: 12px;
}
.p-Services.Div312 {
background-color: #ffffff;
position: absolute;
top: 90px;
height: 760px;
width: 90%;
margin-left: 40px;
margin-right: 40px;
padding-left: 20px;
}
.p-Services.Flex85 {
display: flex;
position: relative;
top: 90px;
height: 500px;
align-items: center;
justify-content: space-between;
margin-left: 20px;
}
.p-Services.Div309 {
width: 28%;
height: 500px;
display: inline-block;
}
.p-Services.Div310 {
width: 28%;
height: 500px;
display: inline-block;
}
.p-Services.Div311 {
width: 28%;
height: 500px;
display: inline-block;
}
.p-Services.Image83 {
right: 40px;
position: relative;
}
.p-Services.TextBox335 {
font-family: IBM Plex Sans;
font-weight: 500;
cursor: pointer;
font-size: 20px;
width: ;
}
.p-Services.TextBox336 {
font-family: IBM Plex Sans;
font-weight: 500;
cursor: pointer;
font-size: 20px;
}
.p-Services.TextBox337 {
font-family: IBM Plex Sans;
font-weight: 500;
cursor: pointer;
font-size: 20px;
}
.p-Services.TextBox338 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
cursor: pointer;
}
.p-Services.TextBox339 {
font-family: IBM Plex Sans;
font-weight: 500;
cursor: pointer;
font-size: 20px;
}
.p-Services.Image84 {
max-width: 50px;
max-height: 50px;
cursor: pointer;
}
.p-Services.TextBox355 {
align-self: center;
position: relative;
font-family: IBM Plex Sans;
font-size: 50px;
font-weight: 700;
text-align: center;
top: 40px;
}
.p-Services.TextBox356 {
align-self: center;
text-align: center;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 50px;
position: relative;
top: 45px;
}
.p-Services.TextBox357 {
align-self: center;
font-family: IBM Plex Sans;
font-weight: 500;
text-align: center;
font-size: 30px;
color: #ffb89c;
position: relative;
top: 24px;
}
.p-Services.Image85 {
position: relative;
}
.p-Services.TextBox340 {
position: relative;
top: 150px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-Services.TextBox341 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
top: 145px;
position: relative;
}
.p-Services.TextBox342 {
position: relative;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
margin-left: ;
outline-style: none;
outline-offset: ;
outline-width: 2px;
word-wrap: normal;
top: 140px;
}
.p-Services.TextBox343 {
position: relative;
top: 115px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 17px;
}
.p-Services.TextBox344 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 26px;
text-align: left;
position: absolute;
top: 120px;
bottom: 0;
}
.p-Services.Image86 {
position: relative;
}
.p-Services.TextBox345 {
position: relative;
top: 170px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-Services.TextBox346 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
top: 165px;
position: relative;
}
.p-Services.TextBox347 {
position: relative;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
margin-left: ;
outline-style: none;
outline-offset: ;
outline-width: 2px;
word-wrap: normal;
top: 155px;
}
.p-Services.TextBox348 {
position: relative;
top: 130px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 17px;
}
.p-Services.TextBox349 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 26px;
text-align: left;
position: absolute;
top: 120px;
bottom: 0;
}
.p-Services.TextBox350 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 26px;
text-align: left;
position: absolute;
top: 120px;
bottom: 0;
}
.p-Services.TextBox351 {
position: relative;
top: 137px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 17px;
}
.p-Services.TextBox352 {
position: relative;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
margin-left: ;
outline-style: none;
outline-offset: ;
outline-width: 2px;
word-wrap: normal;
top: 155px;
}
.p-Services.TextBox353 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
top: 165px;
position: relative;
}
.p-Services.TextBox354 {
position: relative;
top: 170px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-Services.Image87 {
position: relative;
}
